.board {
  display: flex;
  align-items: center;
  // width: 100%;
  justify-content: center;

  button {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .boards {
    display: flex;
    justify-content: space-around;

    .oneboard {
      padding: 0 30px;

      div {
        display: flex;
        width: 180px;
        justify-content: space-between;
        height: 100px;

        input[type="checkbox"] {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: none;
          cursor: pointer;
          appearance: none;
          border: 1px solid #999;

          &:checked {
            background: white;
            border: none;
          }
        }
      }
    }
  }
}